#id{
    align-content: center;
}

#aboutus{
    margin-top: 400px;
    align-content: center;
    font-size: larger;
    font-style: oblique;
    color: darkgoldenrod;
    background-color: black;

}