#container {
    background-color: blue;
    margin-top: 200px;
}




/* 
#aboutus{
    margin-bottom: 1000px;
   width: 500px;
   height: 1000px;
   
    background-color: aqua;
    
    font-size: larger;
    font-style: oblique;
    color: darkgoldenrod;
    background-color: black;

} */
